body{
    margin:1rem;
    background-color: rgb(243, 211, 216);
  }
  
  .login-div{
    width:100%;
    height:100%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
  }
  .login-form{
    width:100%;
    height:100%;
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
  }
  .login-form button{
    background-color: brown;
    color:white;
    cursor: pointer;
  }
  
  
  .title-div{
    width:100%;
    height:100%;
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
  }
  
  .title-div button{
    background-color: brown;
    color:white;
    cursor: pointer;
    margin-left:8rem;
  }
  .todo-list-container{
    margin-left:40%;
    margin-right: 40%;
  
    display:flex;
    flex-direction:column;
  }
  .todo-list-div{
  margin:1rem;
  padding:0.5rem;
  }
  .checked-todo{
    background-color: rgb(212, 245, 245);
  }
  span{
    margin-right:1rem;
    padding:0.2rem;
  }
  a{
    text-decoration:none;
    color:black;
    cursor: pointer;
    background-color: brown;
    padding:0.1rem;
    border: 0.1rem solid black;
  }
  a:hover{
    background-color: rgb(189, 32, 134);
  }
  
  .add-todo-form input{
    margin-left:1rem;
    padding:0.2rem;
    border:0.1rem solid black;
  }
  .add-todo-form button{
    background-color: brown;
    color:white;
    cursor: pointer;
    padding: 0.2rem;
  }
  
  p{
    margin-left:1rem;
    color:red;
  }
  
  .add-todo-form{
    margin-left:40%;
    margin-right: 40%;
  
    display:flex;
    flex-direction:column;
  }
  
  .loading-div{
    margin-top:15%;
  text-align: center;
  }