body{
    margin : 1rem;
    font-family: sans-serif;
    background-color: rgb(191, 231, 231);
}
h1{
    text-align: center; 
}

h2,h3{
    font-weight: bold;
    margin: 0.5rem;
}
h2{
    margin-bottom: 3rem;
}
.title{
    text-align: center;
}

.text-input input {
    display: block;
    margin: 1rem auto;
    width: 20rem;
    height:0.25rem;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1.2rem;
} 

.login-button {
    display: block;
    margin: 1rem auto;
    height:2.5rem;
    border: 0.1rem solid black;
    border-radius: 3.5px;
    cursor: pointer;
    background-color: rgb(24, 31, 32);
    color:white;
} 

button:hover{
    background-color: rgb(168, 31, 31);
    color:white;
}
.page-title{
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: repeat(2, 1fr);
}

.logout-button{
    float:right;
    margin-right: 1rem;
    top:3rem;
    height:2.5rem;
    border: 0.1rem solid black;
    border-radius: 3.5px;
    cursor: pointer;
    background-color: rgb(24, 31, 32);
    color:white
}


.word-input form{
    display: flex;
    flex-direction: row;
}

.word-input form input {
    display:block;
    margin: 1rem auto;
    width: 25rem;
    height:0.25rem;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1.2rem;
}

.word-input button{
    display: block;
    margin: 1rem auto;
    height: 2.4rem;
    border: 0.1rem solid black;
    border-radius: 0.5rem;
    cursor: pointer;
    background-color: rgb(24, 31, 32);
    color: white;
}
.word-list-panel{
    margin:1rem;
}
.word-list{
  text-align: center;
  display:grid;
  grid-template-columns: repeat(auto-fit, minmax(115px, 1fr));
}

.word-list p{
    background-color: lightcoral;
    border: 1px solid black;
    margin:0.2rem;
    padding:0.5rem;
    cursor: pointer;
    text-align: center;
}
.word-list p:hover{
    background-color: green;
    color:white;
}
.score .turns{
    margin-top: 2.2rem;
    color:black;
    font-weight: black;
}
p{
    margin: 1rem;
    text-align: left;
    padding:0.2rem;
}

.game-panel-container{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-flow: row;
    margin-left: 3rem;
    margin-right: 3rem;
    margin-top: 3rem;
}

.accepted-guess-panel{
    display: flex;
    flex-direction: column;
    overflow-wrap: break-word;
    align-content: space-between;
    margin-top: 1rem;
    margin-left: 3rem;
}

.turns{
    margin-top: 2.2rem;
    font-weight: bold; 
    margin-left: 2rem;
    margin-right: 0rem;
}


.control-panel{
    display: flex;
    flex-direction: row;
    align-content: space-between;
    margin: 1rem;

}

.history-panel{
    height: 10rem; 
    overflow-y:auto;
    float:left;
    position:relative;
    margin-left:-5px;

}