body{
    margin : 1rem;
    font-family: sans-serif;
    background-color: rgb(191, 231, 231);
}
h1{
    text-align: center; 
}

h2,h3{
    font-weight: bold;
    margin: 0.5rem;
}
h2{
    margin-bottom: 3rem;
}

.text-input input {
    display: block;
    margin: 1rem auto;
    width: 20rem;
    height:0.25rem;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1.2rem;
} 

.login-button {
    display: block;
    margin: 1rem auto;
    height:2.5rem;
    border: 0.1rem solid black;
    border-radius: 3.5px;
    cursor: pointer;
    background-color: rgb(24, 31, 32);
    color:white;
} 

button:hover{
    background-color: rgb(168, 31, 31);
    color:white;
}
.page-title{
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: repeat(2, 1fr);
}

.logout-button{
    float:right;
    margin-right: 1rem;
    top:3rem;
    height:2.5rem;
    border: 0.1rem solid black;
    border-radius: 3.5px;
    cursor: pointer;
    background-color: rgb(24, 31, 32);
    color:white
}


.word-input form{
    display: flex;
    flex-direction: row;
}

.word-input form input {
    display:block;
    margin: 1rem auto;
    width: 20rem;
    height:0.25rem;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1.2rem;
}

.word-input button{
    display: block;
    margin: 1rem auto;
    height: 2.4rem;
    border: 0.1rem solid black;
    border-radius: 0.5rem;
    cursor: pointer;
    background-color: rgb(24, 31, 32);
    color: white;
}

.word{
    font-size: 1rem;
    color: blue;
}
/* The words should be dispalyed in the grid and move to next row when the row is full
 */
.word-list-panel{
    display: flex;
    flex-direction: column;
    overflow-wrap: break-word;
    align-content: space-between;
    background-color: white;
    margin:2rem;
    box-shadow: #ccc 5px 5px 15px;
    padding:1rem;
}

.game-panel-container{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-flow: row;
}

.accepted-guess-panel{
    display: flex;
    flex-direction: column;
    overflow-wrap: break-word;
    align-content: space-between;
    margin-top : 1rem;
}
.turns{
    margin:1rem;
    color:brown;
}
.control-panel{
    display: flex;
    flex-direction: row;
    align-content: space-between;
    margin: 1rem;

}

.word-list-panel span{
    hyphens: auto;
    white-space: normal; 
   margin: 1rem;
    font-size: 1.4rem;
    color:brown;

} 
