* { 
  box-sizing: border-box;
}

body { 
  margin: 2rem;

  font-family: sans-serif;
}

.content { 
  display: none;
}

.login { 
  display: none;
}

.logged-in .content { 
  display: block;
}

.not-logged-in .login {
  display: block;
}
.controls{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
button{
  background-color: #4CAF50;
  color: white;
  padding: 0.2rem;
  margin: 8px 0;
  border: 0.1px solid black;
  cursor: pointer;
  width: 5rem;
}
@keyframes fadeIn { 
  from { 
    opacity: 0;
  }
  to { 
    opacity: 1;
  }
}
