* { 
  box-sizing: border-box;
  background-color: aliceblue;
}

.login { 
  margin-left: 2rem;
  margin-top: 2rem;

  font-family: sans-serif;
}

.login-button, .logout{
  background-color:black;
  color: white;
  padding: 0.2rem;
  margin: 8px 0;
  border: 0.1px solid black;
  border-radius: 0.1rem;
  cursor: pointer;
  width: 5rem;
}
.title{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}


.button-increment, .button-decrement{
  color: white;
  padding: 0.5rem;
  margin-top: 1rem;
  border: 0.1px solid black;
  border-radius: 0.2rem;
  cursor: pointer;
  width: 2rem;
}

.button-increment{
  background-color: #4CAF50;
}

.button-decrement{
  background-color: #f44336;
}
.inventory-count{
margin : 1rem;
padding : 0.5rem;
font-size: 1rem;
}

.status{
  font-size: 1rem;
  color: #f44336;
}